<template>
  <nav>
    <MenuItem v-for="(route, index) in ROUTES" :key="index" :icon="route.icon" :path="route.path"
      :disabled="index % 2 === 0" :name="route.name" />
  </nav>
</template>

<script setup lang="ts">
import MenuItem from './MenuItem.vue';
import ROUTES from '../../data/routes'

</script>

<style scoped>
nav {
  width: 72px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 32px;
  color: #475569;
}

a {
  color: #475569;
}

</style>