<template>
  <RouterLink v-if="!disabled" :to="props.path" active-class="active" class="item">
    <component :is="props.icon" />
    <div class="tag">
      {{ props.name }}
    </div>
  </RouterLink>
  <div v-else class="item disabled">
    <component :is="props.icon" />
    <div class="tag">
      {{ props.name }}
    </div>
  </div>

</template>

<script setup lang="ts">
import type { Component } from 'vue';
import { RouterLink } from 'vue-router';

const props = defineProps<{
  icon: Component,
  path: string,
  name: string,
  disabled: boolean
}>()
</script>

<style scoped>
.item {
  padding: 8px;
  border-radius: 4px;
  transition: all 125ms;
  position: relative;
}

.item:hover {
  background-color: #e2e8f0;
}

.active {
  background-color: #6366f1 ;
  color: white;
}

.active:hover {
  background-color: #6366f1 ;
  color: white;
}

.item:active {
  scale: 0.95;
}

.tag {
  position: absolute;
  left: calc(100% + 8px);
  top: 50%;
  transform: translateY(-50%);
  background-color: #64748b;
  color: white;
  padding: 3px 6px;
  font-size: 13px;
  border-radius: 4px;
  display: none;
}

.item:hover .tag {
  display: block;
}

.disabled {
  background-color: #f1f5f9;
}

.disabled:hover {
  background-color: #f1f5f9;
}

.disabled svg {
  color: #76859a;
}

.disabled:active {
  scale: 1;
}

svg {
  display: block
}
</style>