<template>
  <div v-if="props.open" class="container-modal">
    <section>
      <header>
        <h2>
          Agregar Usuario
        </h2>
        <div @click="$emit('closeModal', null)" class="close-icon">
          <IconPlusVue />
        </div>
      </header>
      <hr noshade>
      <form @submit.prevent="submitForm">
        <div class="container-input">
          <label>Nombre completo</label>
          <div :class="{ 'error': error.name }">
            <input type="text" placeholder="Nombre" v-model="newUser.name" @input="validationInput('name')">
            <IconAlert v-if="error.name" />
          </div>
          <p v-if="error.name">Este campo es requerido</p>
        </div>
        <div class="container-input">
          <label>Ubicación</label>
          <div :class="{ 'error': error.location }">
            <input type="text" placeholder="México" v-model="newUser.location" @input="validationInput('location')">
            <IconAlert v-if="error.location" />
          </div>
          <p v-if="error.location">Este campo es requerido</p>
        </div>
        <div class="container-input">
          <label>Ocupación</label>
          <div :class="{ 'error': error.occupation }">
            <input type="text" placeholder="Ingeniero en software" v-model="newUser.occupation" @input="validationInput('occupation')">
            <IconAlert v-if="error.occupation" />
          </div>
          <p v-if="error.occupation">Este campo es requerido</p>
        </div>
        <button type="submit">Confirmar</button>
      </form>
    </section>
  </div>
</template>

<script setup lang="ts">
import { reactive } from 'vue';
import IconPlusVue from '../icons/IconPlus.vue';
import IconAlert from '../icons/IconAlert.vue';
import type { IUser } from '@/interfaces/IUser';

const props = defineProps<{
  open: boolean
}>()

const emits = defineEmits<{
  (e: 'closeModal', data: IUser | null): void
}>()

const newUser = reactive<IUser>({
  id: 0,
  name: "",
  location: "",
  occupation: "",
})

const error = reactive({
  name: false,
  location: false,
  occupation: false,
})

const validationInput = (nameInput: 'name' | 'occupation' | 'location') => {
  if (newUser[nameInput].trim().length <= 0) {
    error[nameInput] = true
    return
  }

  error[nameInput] = false
}

const submitForm = () => {
  validationInput('location')
  validationInput('occupation')
  validationInput('name')

  if(error.location || error.name || error.occupation) return
  const dataUser = {...newUser}
  newUser.location = ""
  newUser.name = ""
  newUser.occupation = ""
  emits('closeModal', dataUser)
}

</script>

<style scoped>
.container-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(82, 82, 91, 0.5);
  display: flex;
}

section {
  background-color: white;
  width: 36vw;
  min-width: 300px;
  max-height: 500px;
  padding: 28px;
  border-radius: 12px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

hr {
  border-color: #e2e8f0;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
}

.close-icon {
  background-color: #e2e8f0;
  border-radius: 999px;
  padding: 5px;
  cursor: pointer;
}

.close-icon svg {
  transform: rotate(45deg);
  display: block;
  color: #475569;
}

input {
  background-color: transparent;
  border: #cbd5e1 1px solid;
  border-radius: 6px;
  color: #27272a;
  outline: none;
  padding: 12px 14px;
  width: 100%;
  font-size: 14px;
}

input:focus {
  outline: 2px solid rgb(99, 102, 241, 0.6);
  border-color: #6366f1;
}

.container-input p {
  color: #f96161;
  line-height: normal;
  font-size: 14px;
}

.container-input label {
  margin-bottom: 6px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #475569;
}

.error {
  color: #f96161;
  position: relative;
}

.error svg {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.error input {
  border: #f96161 1px solid;
  padding-right: 36px;
}

.error input:focus {
  border: #f96161 1px solid;
  outline: rgb(249, 97, 97, 0.6) solid 2px;
}

button {
  background-color: #6366f1;
  border: none;
  padding: 14px;
  border-radius: 4px;
  outline: none;
  margin-top: 12px;
  width: 100%;
  color: white;
  cursor: pointer;
  transition: 125ms all;
  font-size: 14px;
}

button:hover, button:focus {
  background-color: #4f46e5;
}
</style>