<template>
  <article :class="{selected: props.click === props.id}">
    <h2 class="id">{{ props.id }}</h2>
    <h2 class="name">{{ props.name }}</h2>
    <h2 class="occupation">{{ props.occupation }}</h2>
    <h2 class="location">{{ props.location }}</h2>
  </article>
</template>

<script setup lang="ts">
import type { IUser } from "@/interfaces/IUser"

interface IProps extends IUser{
  click: number | null
}
const props = defineProps<IProps>()
</script>

<style scoped>
article {
  background-color: white;
  padding: 16px 30px;
  cursor: pointer;
  display: flex;
  border: white 1px solid;
  transition: border 150ms ease, background-color 150ms;
}

article:hover {
  border: #4f46e5 1px solid;
}

h2 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.id {
  width: 10%;
  font-weight: 600;
}

.name {
  width: 35%;
}

.occupation {
  width: 40%;
}

.location {
  width: 15%;
}

.selected {
  background-color: #6366f1;
  color: white;
  border: #6366f1 solid 1px;
}

.selected:hover {
  background-color: #4f46e5;
  border: #4f46e5 solid 1px;
}
</style>