<template>
    <section class="container">
      <header>
        <HeadMain title="Inicio" />
        <button @click="openModal = !openModal" >
          <IconPlus />
          <span>Agregar Usuario</span>
        </button>
      </header>
      <section class="grid">
        <UserCard v-for="user in users" v-bind="user" :click="activeCard" :key="user.id" @click="handleClickCard(user.id)" />
      </section>
    </section>
    <FormUser :open="openModal" @close-modal="handleModal($event)" />
</template>

<script setup lang="ts">
import { ref } from 'vue';
import HeadMain from '@/components/common/HeadMain.vue';
import UserCard from '@/components/user/UserCard.vue';
import IconPlus from "@/components/icons/IconPlus.vue"
import USERS_DATA from '@/data/users';
import FormUser from '@/components/user/FormUser.vue';
import type { IUser } from '@/interfaces/IUser';

const activeCard = ref<null | number>(null)
const openModal = ref(false)
const users = ref<IUser[]>([...USERS_DATA].reverse())

const handleClickCard = (id: number) => {
  activeCard.value = id
}

const handleModal = (data: IUser | null) => {
  openModal.value = false

  if (data !== null){
    const newId = users.value.length + 1
    data.id = newId
    users.value.push(data)
  }
}
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #6366f1;
  color: white;
  border-radius: 12px;
  outline: none;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  row-gap: 8px;
  margin-top: 36px;
  padding: 6px 0;
  flex-grow: 1;
  height: 30vh;
  overflow: auto;
  border-radius: 8px;
}

.grid::-webkit-scrollbar {
  width: 12px;
  overflow: hidden;            
}

.grid::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 0px 8px 8px 0px;
}

.grid::-webkit-scrollbar-thumb {
  background-color: #b6bfcc;    
  border-radius: 8px;
}

.grid::-webkit-scrollbar-thumb:hover,
.grid::-webkit-scrollbar-thumb:active {
  background: #94a3b8;
}


</style>
