<template>
  <RouterLink to="/" >
    <IconRowLeft />
  </RouterLink>
</template>

<script setup lang="ts">
import { RouterLink } from 'vue-router';
import IconRowLeft from "@/components/icons/IconRowLeft.vue"
</script>

<style scoped>
svg {
  display: block;
  width: 28px;
  height: 28px;
}
</style>