<template>
  <div class="head">
    <RouterLink style="color: #27272a;" to="/">
      <IconRowLeft />
    </RouterLink>
    <h1>{{ props.title }}</h1>
  </div>
</template>

<script setup lang="ts">
import { RouterLink } from 'vue-router';
import IconRowLeft from "@/components/icons/IconRowLeft.vue"

const props = defineProps<{
  title: string
}>()
</script>

<style scoped>
.head {
  display: flex;
  align-items: center;
  gap: 16px;
}

svg {
  display: block;
  width: 28px;
  height: 28px;
}
</style>