<script setup lang="ts">
import { RouterView } from 'vue-router'
import MenuList from './components/Menu/MenuList.vue';
</script>

<template>
  <section class="container-main">
    <MenuList />
    <main>
      <RouterView />
    </main>
  </section>
</template>

<style scoped>
.container-main {
  background-color: #e8eef5;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

main  {
  padding: 40px 10px;
  width: 100%;
  display: flex;
}

@media (min-width: 768px) {
  main {
    padding: 40px 60px;
  }
}
</style>